<section>
  <div class="row">
    <div class="content">
      <h1>Generated example</h1>
    </div>
  </div>
</section>

<section id="changelog">
  <div class="row">
    <div class="content">
      {{md './CHANGELOG.md' }}
    </div>
  </div>
</section>
